<h1>投稿内容</h1>

<p>メモ: <%= @post.first_memo %></p>

<%= link_to '編集する', edit_public_post_path, class: "btn btn-success" %>
<%= link_to '削除', public_post_path, method: :delete,  class: "btn btn-danger" %>


