<div class="container">
  <h2><%= "#{@user.name}さんのフォローリスト" %></h2><br>
  <% if @users.exists? %>
    <%= render "public/users/index", users: @users %>
  <% else %>
    <h3>ユーザーはいません</h3>
  <% end %>
</div>