<div class="container">
  <h2><%= "#{@user.name}さんのフォロワーリスト" %></h2><br>
    <% if @users.exists? %>
      <%= render "public/users/index", users: @users %>
    <% else %>
      <h3>現在フォロワーはいません</h3>
    <% end %>
</div>