<div class="container">
  <div class="row mb-4">
    <h1>Change Of Memories</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 align-items-center text-center" style="height: 450px;">
      <h3 class="w-100">
        当サイトは普段から使うメモを「メモ」に留めず、アイディア帳へ昇華させ、<br>
        ユーザ同士が自分の考えを共有し合えるSNSアプリです。<br>
        フォーマットに従って３種類のメモを取ることで<br>
        何気ないメモが新しいアイディアを生み出してくれます。<br>
      </h3><br>
      <h3 class="mt-5">ご利用方法</h3>
      <h3>Step1 </h3>
      <h4>
        first_memoへ自身がメモしたいと思った内容を記述しましょう！<br>
        公開・非公開ボタンで投稿の設定が行えます！<br>
        また、新規投稿ボタン押下で投稿が、次に進むでsecond_memoへ進められます
      </h4><br>
      <h3>Step2</h3>
      <h4>
        こちらはsecond_memoです。<br>
        first_memoに記載したものを抽象化して、メモしましょう！<br>
        大変だと思いますが、抽象化することでアイディア帳としての機能が活きます<br>
        大変ですが、頑張りましょう！
      </h4>
      <h3>Step3</h3>
      <h4>
        最後のメモ、third_memoです。<br>
        second_memoで抽象化したことで、アイディアに幅を持たせることができたと思います！<br>
        浮かんだアイディアをメモしましょう！<br>
      </h4>
    </div>
  </div>
</div>
