/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.header-menu li {
  display: flex;
  margin-right: 20px;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s ease;
}

.header-menu a:hover {
  color: #007bff;
}

header {
  padding: 20px 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
  margin-top: auto;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h5 {
  margin: 0;
}